.btn-fill-primary {
    color: #fff;
    background-color: #fabd1f;
    border-color: #fabd1f;
}

.navbar{
    padding: 0.5rem;
    border-radius: 0 0 20px 20px;
}

ion-menu-button{
    color: white;
}
ion-back-button{
    color: white;
}

.extra ion-icon{
    font-size: 30px;
    color: white;
}
.back{
    font-size: 30px;
    color: white;
}

.cart{
    position: relative;
    display: inline-block;
    margin-right: 8px;
    ion-badge{
        position: absolute;
        top: -5px;
        right: -5px;
        background: rgb(251, 8, 93);
    }
}