

<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">This is the menu content.</ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <nav class="navbar navbar-dark bg-fill-secondary">
    <ion-menu-button></ion-menu-button>
    <a class="navbar-brand d-flex align-items-center" href="#">
      
      <div>
        ShopApp
      </div>
    </a>
    <div class="extra">
      <a href="#" class="btn btn-fill-primary" data-toggle="modal" data-target="#registerModal">Join</a>
    </div>
  </nav>
</div>
