
<ion-content>
  <app-navbar></app-navbar>

  <div class="main">
    <img class="main-img" [src]="product?.img" alt="">
    <h1>{{product?.title}}</h1>

    <div class="input-group mb-3">
      <button (click)="decrease()" class="btn btn-primary input-group-text">
        <ion-icon name="remove-outline"></ion-icon>
      </button>
      <input [(ngModel)]="qty" type="text" class="form-control" >
      <button (click)="increase()" class="btn btn-primary input-group-text">
        <ion-icon name="add-outline"></ion-icon>
      </button>
    </div>

    <h5 class="fs-14">{{product?.description}}</h5>

  </div>


</ion-content>

<ion-footer class="p-2">
  <button (click)="addToCart()" class="btn btn-fill-primary btn-block" >Add to Cart</button>

  
</ion-footer>
