.p-sm{
    padding: 3px;
}

.pad-7{
    padding: 7px;
}

.m-sm{
    margin: 2px;
}

.img-sm{
    border-radius: 15px;
}

.prod-name{
    font-size: 12px;
    margin: 0;
}

.prod-price{
    font-size: 15px;
    color:#ff9900 ;
    margin: 0;
    font-weight: 600;
}