.order-img{
    width: 50px;
    height: fit-content;
    margin-right: 10px;
}

.pad-7{
    padding: 7px;
}

.prod-price{
    font-size: 18px;
    color:#ff9900 ;
    margin: 0;
    font-weight: 600;
}

.description{
    font-size: 12px;
    width: 50%;
}

.tar{
    text-align: right;
}