// .bg-fill-secondary {
//     background-color: #385767 !important;
// }

// ion-content{
//     --background: #f8f8f8;
// }

.btn-fill-primary {
    color: #fff;
    background-color: #fabd1f;
    border-color: #fabd1f;
}

.navbar{
    padding: 0.5rem;
}

.p-sm{
    padding: 3px;
}

.pad-7{
    padding: 7px;
}

.m-sm{
    margin: 2px;
}

.img-sm{
    border-radius: 15px;
}

.prod-name{
    font-size: 12px;
    margin: 0;
}

.prod-price{
    font-size: 15px;
    color:#ff9900 ;
    margin: 0;
    font-weight: 600;
}

.cat-name{
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    color: rgb(62, 62, 62);
}

.dif{
    display: inline-flex;
}

.mt-8{
    margin-top: 8px;
}

.cat-name{
    font-size: 18px;
    font-family: Poppins,"Arimo",system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.d-flex{
    padding: 0 2px;
}