<ion-content>  

  <app-navbar></app-navbar>

  <div *ngFor="let cat of categories">
    <div class="row m-sm">
      <div class="d-flex " (click)="gotoCat(cat)">
        <div class="d-flex flex-column">
          <span class="cat-name t mt-8">{{cat.name | titlecase }}</span>
        </div>
        <div class="extra d-flex">
          <a (click)="gotoCat(cat)" class="btn btn-tertiary icon ml-2 dif">
            <span class="icon icon-arrow-right"></span>
          </a>
        </div>
      </div>
    </div>

    <div class="row m-sm">
      <div class="col-4 p-sm" *ngFor="let prod of cat.products">
        <div (click)="viewFood(prod)" class="betting-category mb-2 pad-7">
          <img class="img-sm"
            [src]="prod.img"
            alt="">
          <p class="prod-name">{{prod.title}}</p>
          <p class="prod-price">${{prod.price}}</p>
        </div>
      </div>
      
    </div>
  </div>

</ion-content>
