<ion-content>  

  <app-navbar></app-navbar>

  <br><br><br>

  <div>
    <div class="row m-sm">
      <div class="d-flex ">
        <div class="d-flex flex-column">
          <span class="t mt-8">1730 Cabourg (FR)</span>
        </div>
        <div class="extra d-flex">
          <a href="race.html" class="btn btn-tertiary icon ml-2 dif">
            <span class="icon icon-arrow-right"></span>
          </a>
        </div>
      </div>
    </div>

    <div class="row m-sm">
      <div class="col p-sm">
        <div class="betting-category mb-2 pad-7">
          <img class="img-sm"
            src="https://adminsc.pizzahut.lk/images/mainmenu/hotbuttercuttlefish56caf5e4035b46328920b24fed527a6d.jpg"
            alt="">
          <p class="prod-name">Vegetable Pizza</p>
          <p class="prod-price">$39.00</p>
        </div>
      </div>
      <div class="col p-sm">
        <div class="betting-category mb-2 pad-7">
          <img class="img-sm"
            src="https://adminsc.pizzahut.lk/images/mainmenu/hotbuttercuttlefish56caf5e4035b46328920b24fed527a6d.jpg"
            alt="">
          <p class="prod-name">Vegetable Pizza</p>
          <p class="prod-price">$39.00</p>
        </div>
      </div>
      <div class="col p-sm">
        <div class="betting-category mb-2 pad-7">
          <img class="img-sm"
            src="https://adminsc.pizzahut.lk/images/mainmenu/hotbuttercuttlefish56caf5e4035b46328920b24fed527a6d.jpg"
            alt="">
          <p class="prod-name">Vegetable Pizza</p>
          <p class="prod-price">$39.00</p>
        </div>
      </div>
    </div>
  </div>

</ion-content>
