<ion-content>  

  <app-navbar></app-navbar>

  <div style="margin: 5px;" id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div *ngFor="let p of promotions;let i=index" class="carousel-item" [ngClass]="{'active': i == 0}"      >
        <img [src]="p.banner" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div *ngFor="let cat of categories">
    <div class="row m-sm">
      <div class="d-flex " (click)="gotoCat(cat)">
        <div class="d-flex flex-column">
          <span class="cat-name t mt-8">{{cat.name | titlecase }}</span>
        </div>
        <div class="extra d-flex">
          <a (click)="gotoCat(cat)" class="btn btn-tertiary icon ml-2 dif">
            <span class="icon icon-arrow-right"></span>
          </a>
        </div>
      </div>
    </div>

    <div class="row m-sm">
      <div class="col-4 p-sm" *ngFor="let prod of cat.products">
        <div (click)="viewFood(prod)" class="betting-category mb-2 pad-7">
          <img class="img-sm"
            [src]="prod.img"
            alt="">
          <p class="prod-name">{{prod.title}}</p>
          <p class="prod-price">${{prod.price}}</p>
        </div>
      </div>
      
    </div>
  </div>

</ion-content>
