
<ion-content>
  <app-navbar></app-navbar>

  <div class="main">
    
    <div class="card cart-item" >
      <div class="d-flex justify-content-between">
        <img src="https://adminsc.pizzahut.lk//images/mainmenu/bac1f02e-23f2-462d-98cd-a24c77b09503.jpeg" alt="">
        <div>
          <h5>VeGitable Pizza</h5>
        </div>
      </div>
    </div>


  </div>


</ion-content>

<ion-footer class="p-2">
  <button (click)="addToCart()" class="btn btn-fill-primary btn-block" >Checkout</button>

  
</ion-footer>
