
<ion-content>
  <app-navbar></app-navbar>

  <div class="main">
    
    <div *ngFor="let cart of carts;let i=index" class="card cart-item mb-1" >
      <div class="d-flex ">
        <img [src]="cart.img" alt="">
        <div style="margin-left: 5px;">
          <h5 class="m-0 mb-1" style="font-size:13px ;">{{cart.title}}</h5>
          
          <div class="qty-change">
            <ion-icon (click)="decrease(i)" name="remove-circle-outline"></ion-icon>
            <input [(ngModel)]="cart.qty" type="text" class="form-control form-control-sm" style="display: inline-block;width:40px ;">
            <ion-icon (click)="increase(i)" name="add-circle-outline"></ion-icon>
          </div>
        </div>

        <div class="ms-auto">
          <ion-icon (click)="remove(i)" style="font-size:25px ;" name="trash-outline"></ion-icon>
        </div>
      </div>
    </div>


  </div>


</ion-content>

<ion-footer class="p-2">
  <button (click)="checkout()" class="btn btn-fill-primary btn-block" >Checkout</button>

  
</ion-footer>
