// .bg-fill-secondary {
//     background-color: #385767 !important;
// }

ion-content{
    --background: #f8f8f8;
}

.btn-fill-primary {
    color: #fff;
    background-color: #fabd1f;
    border-color: #fabd1f;
}

.navbar{
    padding: 0.5rem;
}

.p-sm{
    padding: 3px;
}

.pad-7{
    padding: 7px;
}

.m-sm{
    margin: 2px;
}

.img-sm{
    border-radius: 5px;
}

.prod-name{
    font-size: 12px;
    margin: 0;
}

.prod-price{
    font-size: 15px;
    color: #cd3668;
    margin: 0;
    font-weight: 600;
}

.cat-name{
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    color: rgb(62, 62, 62);
}